---
import "../../styles/global.css";

import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import InternalHero from "../../components/InternalHero.astro";
import ServiceGallery from "../../components/ServiceGallery.astro";

const slides = [
	{
		title: "Mecánica Industrial",
		description: "Desde el diseño hasta la implementación, garantizamos eficiencia y calidad en cada proyecto.",
		image: "/img/gallery/1.png",
	},
	{
		title: "Construcción",
		description: "Excelencia y atención al detalle en cada etapa del proyecto. Desde la planificación hasta la entrega, garantizamos resultados duraderos y de alta calidad.",
		image: "/img/gallery/2.png",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/1.png",
	},
];
const title = "Aire acondicionado y refrigeración";
const heroImage = "/img/background.webp";
const paragraphs = [
	'Nuestra gama de soluciones abarca desde la mecánica industrial y la construcción hasta la instalación de tuberías, válvulas, aire acondicionado, refrigeración y ventilación mecánica. Cada proyecto es ejecutado con un compromiso inquebrantable con la calidad, eficiencia y satisfacción del cliente, asegurando que tus operaciones funcionen de manera óptima y sin contratiempos.',
];
const list = [
	'Suministro e instalación de AC tipo: Mini Split, Piso Techo, Cassette, Centrales, Sistemas VRF',
	'Mantenimiento preventivo y correctivo de AC.',
	'Fabricación e Instalación de ductería para AC según necesidad.',
];
const list2 = [
	'Suministros e Instalación de Cuartos Fríos para media y baja temperatura.',
	'Mantenimiento de Cuartos Fríos.',
];
---

<Layout title={title}>
	<Navbar />
	<InternalHero image={heroImage} />

	<div class="py-10 md:py-20 px-6 md:px-0 container mx-auto" >
		<div class="max-w-5xl md:p-0 mb-6">
			<h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
				{title}
			</h2>

			{paragraphs.map((item) => (
				<p class="text-lg mt-4 text-slate-600 mb-6">{item}</p>
			))}

		</div>


		<p class="mt-6 mb-2 text-xl text-slate-600">Aires Acondicionados</p>
		<ul class="list-disc ml-8 text-lg text-slate-600">
			{list.map((item) => (
				<li>{item}</li>
			))}
		</ul>


		<p class="mt-6 mb-2 text-xl text-slate-600">Refrigeración</p>
		<ul class="list-disc ml-8 text-lg text-slate-600">
			{list2.map((item) => (
				<li>{item}</li>
			))}
		</ul>
	</div>

	<ServiceGallery slides={slides} />
	<Footer />

</Layout>