---
import "../../styles/global.css";

import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import InternalHero from "../../components/InternalHero.astro";
import ServiceGallery from "../../components/ServiceGallery.astro";

const slides = [
	{ title: "Otros", image: "/img/gallery/otros/otros01.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros02.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros03.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros04.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros05.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros06.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros07.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros08.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros09.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros10.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros11.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros12.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros13.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros14.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros15.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros16.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros17.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros18.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros19.webp" },
	{ title: "Otros", image: "/img/gallery/otros/otros20.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros21.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros22.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros23.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros24.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros25.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros26.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros27.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros28.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros29.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros30.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros31.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros32.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros33.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros34.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros35.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros36.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros37.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros38.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros39.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros40.webp" },
	// { title: "Otros", image: "/img/gallery/otros/otros41.webp" },
];
const title = "Otros Servicios";
const heroImage = "/img/heros/otros.webp";
const paragraphs = [
	'Ofrecemos mantenimiento integral de instalaciones, desde tratamiento de aguas residuales y limpieza de tanques, hasta trabajos de pintura, reparaciones e impermeabilización, garantizando un entorno limpio y seguro.',
];
const list = [
	'Mantenimiento de plantas de tratamiento de aguas residuales.',
	'Limpieza de tanques industriales.',
	'Limpieza de cisternas.',
	'Trabajos con pintura (agua, aceite, epóxica, etc).',
	'Trabajos en acrílico y aluminio.',
	'Fabricación de ductos en lonas plastificadas.',
	'Reparaciones de techos.',
	'Trabajos de impermeabilización.',
	'Limpieza generales de áreas.',
];
---

<Layout title={title}>
	<Navbar />
	<InternalHero image={heroImage} />

	<div class="py-10 md:py-20 px-6 md:px-0 container mx-auto" >
		<div class="max-w-5xl md:p-0 mb-6">
			<h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
				{title}
			</h2>

			{paragraphs.map((item) => (
				<p class="text-lg mt-4 text-slate-600 mb-6">{item}</p>
			))}

		</div>

		<ul class="list-disc ml-8 text-lg text-slate-600">
			{list.map((item) => (
				<li>{item}</li>
			))}
		</ul>
	</div>

	<ServiceGallery slides={slides} />
	<Footer />

</Layout>