---
import "../../styles/global.css";

import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import InternalHero from "../../components/InternalHero.astro";
import ServiceGallery from "../../components/ServiceGallery.astro";

const slides = [
	{
		title: "Mecánica Industrial",
		description: "Desde el diseño hasta la implementación, garantizamos eficiencia y calidad en cada proyecto.",
		image: "/img/gallery/tuberias/11.webp",
	},
	{
		title: "Construcción",
		description: "Excelencia y atención al detalle en cada etapa del proyecto. Desde la planificación hasta la entrega, garantizamos resultados duraderos y de alta calidad.",
		image: "/img/gallery/tuberias/2.webp",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/tuberias/3.webp",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/tuberias/4.webp",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/tuberias/5.webp",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/tuberias/6.webp",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/tuberias/7.webp",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/tuberias/8.webp",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/tuberias/9.webp",
	},
	{
		title: "Tuberías y Válvulas",
		description: "Soluciones robustas y confiables para sus sistemas industriales. Calidad y durabilidad garantizadas para asegurar el óptimo funcionamiento de sus operaciones.",
		image: "/img/gallery/tuberias/10.webp",
	},
];
const title = "Tuberías y Válvulas";
const heroImage = "/img/heros/tuberias.webp";
const paragraphs = [
	'Nos especializamos en la instalación y montaje de tuberías, así como en el mantenimiento y fabricación de sistemas clave para la industria. Nuestro equipo asegura soluciones eficientes y de alta calidad, adaptadas a sus necesidades específicas.',
];
const list = [
	'Instalación de tuberías de drenaje.',
	'Instalación y montaje de tuberías en acero inoxidable grado sanitario y alimenticio.',
	'Instalación y montaje de tuberías de acero al carbón.',
	'Instalación de tuberías de alta presión.',
	'Montaje de tuberías soldadas o roscadas.',
	'Montaje mecánico de bombas.',
	'Instalación de tuberías de PVC.',
	'Instalación de grifería.',
	'Fabricación de serpentines para tanques.',
	'Fabricación de soportería para tuberías y bombas.',
	'Limpieza y mantenimiento de tuberías.',
];
---

<Layout title={title}>
	<Navbar />
	<InternalHero image={heroImage} />

	<div class="py-10 md:py-20 px-6 md:px-0 container mx-auto" >
		<div class="max-w-5xl md:p-0 mb-6">
			<h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
				{title}
			</h2>

			{paragraphs.map((item) => (
				<p class="text-lg mt-4 text-slate-600 mb-6">{item}</p>
			))}

		</div>
		<ul class="list-disc ml-8 text-lg text-slate-600">
			{list.map((item) => (
				<li>{item}</li>
			))}
		</ul>
	</div>

	<ServiceGallery slides={slides} />
	<Footer />

</Layout>