---
const services = [
    {name: "Mecánica Industrial", href: "/services/mecanica-industrial" , target: "_self"},
    {name: "Construcción", href: "/services/construccion" , target: "_self"},
    {name: "Tuberías y Válvulas", href: "/services/tuberias-y-valvulas" , target: "_self"},
    {name: "Aire Acondicionado y Refrigeración", href: "/services/aire-acondicionado-y-refrigeracion" , target: "_self"},
    {name: "Ventilación Mecánica", href: "/services/ventilacion-mecanica" , target: "_self"},
    {name: "Otros Servicios", href: "/services/otros-servicios" , target: "_self"},
]
const menuExtras = [
    {name: "Contacto", href: "/#contact" , target: "_self"},
    {name: "Política de privacidad", href: "#" , target: "_self"},
    {name: "Términos de Uso", href: "#" , target: "_self"},
    {name: "Acerca de", href: "/nosotros" , target: "_self"},
]
---
<footer class="relative text-white py-6 md:py-16">

     <div class="container mx-auto px-4" style="color:#f2f2f2">
        <div class="flex flex-wrap">
            <div class="w-full md:w-6/12 px-4">
                <p class="text-xl">
                    ¡Sigamos en contacto!
                </p>
                <p class=" mt-0 mb-3">
                     Encuentrenos en nuestras redes sociales.
                </p>
                <div class="mt-6 flex gap-2">
                    <a href="https://www.linkedin.com/company/mecanica-y-servicios-diversos-s-a-de-c-v/" target="_blank" >
                        <svg fill="white" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M41.4,508.1H-8.5V348.4h49.9 V508.1z M15.1,328.4h-0.4c-18.1,0-29.8-12.2-29.8-27.7c0-15.8,12.1-27.7,30.5-27.7c18.4,0,29.7,11.9,30.1,27.7 C45.6,316.1,33.9,328.4,15.1,328.4z M241,508.1h-56.6v-82.6c0-21.6-8.8-36.4-28.3-36.4c-14.9,0-23.2,10-27,19.6 c-1.4,3.4-1.2,8.2-1.2,13.1v86.3H71.8c0,0,0.7-146.4,0-159.7h56.1v25.1c3.3-11,21.2-26.6,49.8-26.6c35.5,0,63.3,23,63.3,72.4V508.1z "></path> </g></svg>
                    </a>
                        <svg fill="white" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M169.5,357.6l-2.9,38.3h-39.3 v133H77.7v-133H51.2v-38.3h26.5v-25.7c0-11.3,0.3-28.8,8.5-39.7c8.7-11.5,20.6-19.3,41.1-19.3c33.4,0,47.4,4.8,47.4,4.8l-6.6,39.2 c0,0-11-3.2-21.3-3.2c-10.3,0-19.5,3.7-19.5,14v29.9H169.5z"></path> </g></svg>
                </div><p
                    class="text-sm mt-6  "
                >
                Calle Antigua a Soyapango, Colonia Los Pirineos 2, #2.
                <br> Soyapango, San Salvador.
                </p>
            </div>
            <div class="w-full md:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div
                        class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto"
                    >
                            <ul class="list-unstyled">
                                {services.map((item) => (
                                    <li> <a class=" hover:text-blueGray-800 block pb-2 text-sm" href={item.href} target={item.target}>{item.name}</a> </li>
                                ))}
                            </ul>
                    </div>
                    <div
                        class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto"
                    >
                            <ul class="list-unstyled">
                                {menuExtras.map((item) => (
                                    <li><a class="text-sm" href={item.href} target={item.target}>{item.name}</a></li>
                                ))}
                        </ul>
                        <br>
                        <ul class="list-unstyled">
                            <li><a class="text-sm" href="/trabaja-con-nosotros" target="_blank" >Trabaja con nosotros</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6" style="border-color:#838383" />
        <div class="flex flex-wrap items-center md:justify-between justify-center" >
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm   py-1">
                    Copyright © <span>2024</span> Mecánica y Servicios Diversos

                    <a class="block mt-4 italic " href="//maderacode.com" target="_blank">Powered by MaderaCode</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<style>
    footer{
        background-color: #000924
    }
</style>